<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>891628048072-4p5b4864d67jp77p49v917f9edui4r5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891628048072-4p5b4864d67jp77p49v917f9edui4r5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDK6rndwGRMtOPhf-uhhjc1DGQPI3aC4HI</string>
	<key>GCM_SENDER_ID</key>
	<string>891628048072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andressada.OLL-Finder</string>
	<key>PROJECT_ID</key>
	<string>oll-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>oll-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:891628048072:ios:5a481e29b187c1ac</string>
	<key>DATABASE_URL</key>
	<string>https://oll-finder.firebaseio.com</string>
</dict>
</plist>